# Server Configuration
PORT=4500

# Kubernetes Configuration
COLLABORA_SERVICE=collabora-service
COLLABORA_NAMESPACE=awadep

# Redis Configuration
REDIS_HOST=localhost
REDIS_PORT=6379
# REDIS_PASSWORD=

# Logging
LOG_LEVEL=info
